<a href="https://colab.research.google.com/github/FernandoIGD12/UTEC_programming101/blob/main/modulo1_fundamentos/tareas/variables_y_expresiones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://posgrado.utec.edu.pe/sites/default/files/2023-08/Testimonial-home-2.jpg" alt="HTML5 Icon" width="900" height="250" >

# **Ejercicios - Variables y Expresiones**

**Ejercicio 1: Calculadora de ahorro semanal**

Pide al usuario cuánto dinero ahorra cada día de lunes a domingo. Al final, muestra cuánto ahorró en total esa semana y cuánto tendría en un mes si repite el mismo patrón cada semana.

- Pista: Usar 7 variables (ahorro_lunes, ahorro_martes, …), input(), float(), +, *.

In [79]:
## INICIO DE CÓDIGO
# Weekly savings calculator
# Program asks for a valid input (positive real number) corresponding to
# the savings of each invidivual day from monday to sunday. Once this is finished,
# it returns the total weekly savings and projects it to a monthly forecast.
weekly_savings = []
days = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday',
        'sunday']

for day in days:
  while(1):
    try:
      num = float(input(f'Enter savings on {day}: '))
      if num >= 0:
        weekly_savings.append(num)
        break
      else:
        raise ValueError
    except ValueError:
      print('Invalid number.')

print('Total weekly savings: ', sum(weekly_savings))
print('Projected monthly savings:', sum(weekly_savings)*4)
## FIN DE CÓDIGO

Enter savings on monday: 0
Enter savings on tuesday: -1
Invalid number.
Enter savings on tuesday: 20
Enter savings on wednesday: 100
Enter savings on thursday: 500
Enter savings on friday: 20
Enter savings on saturday: 10
Enter savings on sunday: 4
Total weekly savings:  654.0
Projected monthly savings: 2616.0

**Ejercicio 2: Conversor de segundos**

Solicita una cantidad total de segundos y muestra cuántos minutos y segundos representa.

Ejemplo: 130 segundos → 2 minutos y 10 segundos
* Pista: Usar // y %

In [83]:
## INICIO DE CÓDIGO
# Program takes a valid 'seconds' number (non-negative integer) as input and
# calculates how many minutes and and seconds (that don't ammount to a minute)
# are there.
while(1):
  try:
    num = int(input('Ingrese una cantidad de segundos: '))
    if num>=0:
      minutes = num//60
      sec = num%60
      print(f'{num} seconds -> {minutes} minutes and {sec} seconds')
      break
    else:
      raise ValueError
  except ValueError:
    print('Numero inválido.')

## FIN DE CÓDIGO

Ingrese una cantidad de segundos: 130
130 seconds -> 2 minutes and 10 seconds

**Ejercicio 3: Puntuación de juego**

Un videojuego otorga:

* 10 puntos por cada estrella recolectada,
* 50 puntos por cada gema recolectada, y
* 1 punto por cada segundo que el jugador se mantuvo vivo.

Pide al usuario las tres cantidades y muestra su puntaje total.

* Pista: total = estrellas*10 + gemas*50 + tiempo

In [84]:
## INICIO DE CÓDIGO
# Program asks for inputs of stars, gems and seconds alive. User must provide
# valid input to move to the next item. Finally, it calculates the total points
# the player scored.
def validate_entry(item_name):
  while(1):
    try:
      item_number = int(input(f'Enter amount of {item_name}: '))
      if item_number>=0:
        return item_number
        break
      else:
        raise ValueError
    except ValueError:
      print('Invalid entry.')

n_star = validate_entry('star')
n_gem = validate_entry('gems')
n_seconds = validate_entry('seconds')

tot = n_star*10 + n_gem*50 + n_seconds
print('Total score: ', tot)
## FIN DE CÓDIGO

Enter amount of star: -1
Invalid entry.
Enter amount of star: 40
Enter amount of gems: 3
Enter amount of seconds: 155
Total score:  705

**Ejercicio 4: Conversor de monedas con tasa personalizada**

Solicita al usuario:

* El monto en soles
* La tasa de cambio a dólares

Muestra el equivalente en dólares, redondeado a 2 decimales.

* Pista: Usar float(), *, round(valor, 2)

In [62]:
## INICIO DE CÓDIGO
# Program asks for valid inputs of money and exchange rate. Request is made unitl
# valid input is provided. Then, it calculates the exchange with 2 decimal points

while (1):
  try:
    pen = float(input('Enter money ammount (in PEN): '))
    ex_rate = float(input('Enter dollar exchange rate: '))
    if (pen >=0 and ex_rate>0):
      #print(f'USD equivalent: {round(pen*ex_rate,2)}')
      print(f'USD equivalent: {pen*ex_rate:.2f}')
      break
    else:
      raise ValueError
  except ValueError:
    print('Invalid values. Enter values again.')

## FIN DE CÓDIGO

Enter money ammount (in PEN): -5
Enter dollar exchange rate: 0
Invalid values. Enter values again.
Enter money ammount (in PEN): 50
Enter dollar exchange rate: 3.71
USD equivalent: 185.50

**Ejercicio 5: Costo compartido de viaje**

Tres amigos hacen un viaje y pagan distintos montos:

* Ana pagó gasolina,
* Luis pagó peajes,
* Carla pagó comida.

Pide los tres montos, calcula el total y cuánto debería aportar cada uno para que paguen igual.

* Pista: Calcular el total y luego dividirlo entre 3

In [58]:
## INICIO DE CÓDIGO
# Program calculates total expenses and equally divides it among the participants
# It validates entries for non-negative real numbers.
while (1):
  try:
    ana = float(input('Enter amount Ana spent on gas: '))
    luis = float(input('Enter amount Luis spent on toll: '))
    carla = float(input('Enter amount Carla spent on food: '))
    if (ana>=0 and luis>=0 and carla>=0):
      print('Total spent amount: ', luis+carla+ana)
      print(f'For equal contributions, each should have payed: {(luis+carla+ana)/3:.2f}')
      break
    else:
      raise ValueError
  except ValueError:
    print('Invalid values. Enter values again.')

## FIN DE CÓDIGO

Enter amount Ana spent on gas: 65
Enter amount Luis spent on toll: 21
Enter amount Carla spent on food: 122
Total spent amount:  208.0
For equal contributions, each should have payed: 69.33

In [38]:
!pip install pandas==2.2.2
import pandas as pd

Requirement already satisfied: pandas==2.2.2 in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas==2.2.2) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas==2.2.2) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas==2.2.2) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas==2.2.2) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas==2.2.2) (1.17.0)

**Ejercicio 6: Tiempo total de estudio**

Solicita al usuario cuántas horas estudió en 4 materias distintas.

Muestra el total de horas de estudio en la semana y el promedio diario (considerando 7 días).

In [51]:
## INICIO DE CÓDIGO333
# Program stores study hours for each of the 4 courses for each day of the week
# and stores values in a dataframe. Finally, it calculates total study time for
# the week for each course and average daily study time for each course
labels = ['course_1', 'course_2', 'course_3', 'course_4']
values = [[], [], [], []]
days = range(1,8)
hours = dict(zip(labels, values))
df_hours = pd.DataFrame(hours)
for day in days:
  for label in labels:
    while (1):
      try:
        value = float(input(f'Enter number of hours studied for {label} in day {day}: '))
        if 0<=value<=24:
          df_hours.loc[day-1, label] = value
          break
        else:
          raise ValueError
      except ValueError:
        print('Enter a valid number.')

df_hours.index = days
print('Total number of hours studied in a week is: \n'
      , df_hours.sum(axis = 0).to_frame('Weekly total'))

print('Average study time per day is: \n'
      , df_hours.mean(axis = 0).to_frame('Average daily study time3'))

## FIN DE CÓDIGO

Enter number of hours studied for course_1 in day 1: 65
Enter a valid number.
Enter number of hours studied for course_1 in day 1: 4
Enter number of hours studied for course_2 in day 1: 3
Enter number of hours studied for course_3 in day 1: 2
Enter number of hours studied for course_4 in day 1: 1
Enter number of hours studied for course_1 in day 2: 1
Enter number of hours studied for course_2 in day 2: 2
Enter number of hours studied for course_3 in day 2: 3
Enter number of hours studied for course_4 in day 2: 4
Enter number of hours studied for course_1 in day 3: 5
Enter number of hours studied for course_2 in day 3: 6
Enter number of hours studied for course_3 in day 3: 7
Enter number of hours studied for course_4 in day 3: 8
Enter number of hours studied for course_1 in day 4: 8
Enter number of hours studied for course_2 in day 4: 7
Enter number of hours studied for course_3 in day 4: 6
Enter number of hours studied for course_4 in day 4: 5
Enter number of hours studied for course_1 in day 5: 2
Enter number of hours studied for course_2 in day 5: 3
Enter number of hours studied for course_3 in day 5: 4
Enter number of hours studied for course_4 in day 5: 5
Enter number of hours studied for course_1 in day 6: 5
Enter number of hours studied for course_2 in day 6: 4
Enter number of hours studied for course_3 in day 6: 3
Enter number of hours studied for course_4 in day 6: 2
Enter number of hours studied for course_1 in day 7: 3
Enter number of hours studied for course_2 in day 7: 4
Enter number of hours studied for course_3 in day 7: 5
Enter number of hours studied for course_4 in day 7: 6
Total number of hours studied in a week is:
           Weekly total
course_1          28.0
course_2          29.0
course_3          30.0
course_4          31.0
Average study time per day is:
           Average daily study time3
course_1                   4.000000
course_2                   4.142857
course_3                   4.285714
course_4                   4.428571

**Ejercicio 7: Nombre codificado (nivel string)**

Pide al usuario su nombre completo y muestra:

* La cantidad de caracteres (con len())
* Su nombre todo en mayúsculas (.upper())
* Su nombre todo en minúsculas (.lower())

In [66]:
## INICIO DE CÓDIGO
# Program takes a name as input. It validates the name to contain only letters,
# spaces, " -' " characters and to possess at least one character. Then, it cal-
# culates total string length and displays the name in upper and lowercases.
while (1):
  name = input('Enter full name:' ).strip()
  if all(char.isalpha() or char.isspace() or char in "'-" for char in name) and len(name)>0:
    print(f'Character count (including spaces): {len(name)}')
    print(f'Name in uppercase: {name.upper()}')
    print(f'Name in lowercase: {name.lower()}')
    break
  else:
    print('Invalid entry. Enter name again.')
## FIN DE CÓDIGO

Enter full name:Fer%nando Gu12tierrez
Invalid entry. Enter name again.
Enter full name:Fernando Ivan Gutierrez Delgado
Character count (including spaces): 31
Name in uppercase: FERNANDO IVAN GUTIERREZ DELGADO
Name in lowercase: fernando ivan gutierrez delgado

**Ejercicio 8: Frase repetida**

Pide una frase y un número n, y muestra la frase repetida n veces, cada una en una línea.

* Pista: print(frase * n)  # y/o con '\n'

In [70]:
## INICIO DE CÓDIGO
# Program takes a valid frase (contains letters, spaces or special characters)
# and number (positive integer) and displays the entered frase 'n' number of ti-
# mes on a separate line.
while(1):
  frase = input('Enter a frese: ').strip()
  if all(char.isalpha() or char.isspace() or char in "'-" for char in frase) and len(frase)>0:
    try:
      n = int(input('Enter a positive integer: '))
      if n>0:
        print((frase+'\n')*n)
        break
    except ValueError:
      print('Invalid entry.')
  else:
    print('Invalid frase.')

## FIN DE CÓDIGO

Enter a frese: 123asd cuantas veces
Invalid frase.
Enter a frese: amor prohibido
Enter a positive integer: 3
amor prohibido
amor prohibido
amor prohibido

**Ejercicio 9: División de cuentas**

Un grupo de amigos pide una cuenta por S/ 250.
Pide al usuario cuántas personas están en el grupo y muestra cuánto debe pagar cada uno.

Asegúrate de redondear el resultado a 2 decimales.

* Pista: Usa la funcion round()

In [74]:
## INICIO DE CÓDIGO
# Program asks for a valid number of participants in a group (positive integer)
# and calcualtes how much each person must contribute to the total bill.
value = 250
while (1):
  try:
    n = int(input('Enter number of people in the group: '))
    if n>0:
      print(f'Each must pay S/{value/n:.2f}')
      break
    else:
      raise ValueError
  except ValueError:
    print('Invalid number.')
## FIN DE CÓDIGO

Enter number of people in the group: 6
Each must pay S/41.67

**Ejercicio 10: Calendario de clases**

Pide cuántas horas se estudia en promedio por día, y cuántos días tiene el mes.

Calcula cuántas horas de estudio habrá ese mes.

In [77]:
## INICIO DE CÓDIGO
# Program asks for valid inputs of average study hours per day (float between
# 0 and 24) and days (in the range between 28 and 31) and calculates total num-
# ber of study hours in the month.
while(1):
  try:
    hours = float(input('Enter average study hours per day: '))
    days = int(input('Enter number of days in the month: '))
    if (0<hours<24 and (days in range(28,32))):
      print(f'Total study hours in the month = {days*hours}')
      break
    else:
      raise ValueError
  except ValueError:
    print('One or both of the entries is invalid.')
## FIN DE CÓDIGO

Enter average study hours per day: breal
One or both of the entries is invalid.
Enter average study hours per day: 1
Enter number of days in the month: aa
One or both of the entries is invalid.
Enter average study hours per day: -5
Enter number of days in the month: 2
One or both of the entries is invalid.
Enter average study hours per day: 5.5
Enter number of days in the month: 30
Total study hours in the month = 165.0

---

# Gracias por completar este laboratorio!

---